.auteurs {
  display: block;
  flex-wrap: nowrap;
  border: 2px darkcyan solid;
  text-align: center;
}
.auteurs_seul{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: nowrap;
  border: 2px darkred solid;
  text-align: center;
}