.header-top {
  display: flex;
  justify-content: flex-end;
  background-color: $primary-color;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 15px;
}

.message-success {
  background-color: green;
}

.message-error {
  background-color: red;
}

.night-activated{
  background-color: rgba(0, 0, 0, 0.94);
}

.night-activated p{
  color: white;
}

.night-activated h1{
  color:whitesmoke;
}