.header-top {
  display: flex;
  justify-content: flex-end;
  background-color: $primary-color;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 15px;
}

.message-success {
  background-color: green;
}

.message-error {
  background-color: red;
}