.lien{
  border: 2px solid darkcyan;
  color: whitesmoke;
  background-color: darkcyan;
}
.lien:hover{
  background-color: whitesmoke;
  text-decoration: none;
  color: darkcyan;
}
@mixin contour{
  border: 3px solid deeppink;
}