{% extends 'base.html.twig' %}





{% block title %}
    <title>Bienvenue sur mon site </title>
    <h1>Bienvenue sur Booking and Learn</h1>
    <p>Vous trouverez sur mon site Une selection de livre ainsi que les auteurs qui les ont écrits, profitez bien !</p>
{% endblock %}